
<!--<div class="flex-container">-->
  <!--<div class="flex-item"><md-card>Card 1</md-card></div>-->
  <!--<div class="flex-item"><md-card>Card 2</md-card></div>-->
  <!--<div class="flex-item"><md-card>Card 3</md-card></div>-->
  <!--<div class="flex-item"><md-card>Card 4</md-card></div>-->
<!--</div>-->
<!--<div class="flex-container">-->
  <!--<div class="flex-item"><md-card>Card 5</md-card></div>-->
  <!--<div class="flex-item"><md-card>Card 6</md-card></div>-->
  <!--<div class="flex-item"><md-card>Card 7</md-card></div>-->
  <!--<div class="flex-item"><md-card>Card 8</md-card></div>-->
<!--</div>-->

<div class="flex-item Aligner"><md-card>Card 5</md-card></div>
<div class="flex-item Aligner"><md-card>Card 6</md-card></div>
<div class="flex-item Aligner"><md-card>Card 7</md-card></div>
<div class="flex-item Aligner"><md-card>Card 8</md-card></div>
