<div class="">
  <md-card  class=" Aligner centered-item">
    <md-card-header>
      Search For Drinks
    </md-card-header>
    <p>Drink Mixer Demo</p>
    <p>Search after enter</p>
    <div>
      <input #term (keyup.enter)="searchForDrink(term.value)"/>
      <div style="" *ngIf="searching" class="loader">
    </div>
    </div>
  </md-card>
</div>
<div *ngFor="let drink of drinks">
  <div class="Aligner centered-item">
    <md-card>
      <md-card-header>
        <img md-card-avatar src="http://assets.absolutdrinks.com/drinks/300x400/{{drink.id}}.png">
        <md-card-title>{{drink.name}}</md-card-title>
      </md-card-header>
      <md-card-content>
        <div class="Aligner">

          <md-tab-group>
            <md-tab label="Overview">
              <p>{{drink.descriptionPlain}}</p>
              <p>Skill required to make drink: {{drink.skill.name}}</p>
              <h4>Ingredients</h4>
              <li *ngFor="let ingredient of drink.ingredients">
                {{ingredient.textPlain}}
              </li><br>

              <h4>Tastes</h4>
              <li *ngFor="let taste of drink.tastes">
                {{taste.text}}
              </li><br>
              <p>Served in a {{drink.servedIn.text}}</p>


            </md-tab>
            <md-tab label="Video">
              <iframe width="640" height="360" [src]="drink.youtubeLink" frameborder="0" allowfullscreen></iframe>
            </md-tab>
          </md-tab-group>

        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
